@media(max-width:500px) {
			body{	
				width:auto;
				margin: 0;
				
				background: url('../img/background.jpg') repeat center center;
				font-family: Microsoft JhengHei, sans-serif;
			}
			.home{
				width:350px;
		/*		background-color: #FFFFFB;*/
	    		text-decoration: none;
	    		color:black;
	    		padding-left: 0px ;
	    		margin: 0 0 0 -10px;
	    		/*border-right: solid 2px black;*/

			}
			.nav{
				float: center;

			}
			.list{
				padding: 10px 0px;
			/*	 background-color: #FFFFFB;*/
	    		text-decoration: none;
	    		border-right: none;
	    		border-left: none;
	    		
	    		float: left;
			}
			.nav-list li a {
	    		display: block;
	    		width: auto;
	    		text-align: center;
	    		/*background-color: #FFFFFB;*/
	    		text-decoration: none;
	    		padding: 0 10px;
	    		color:black;
	  	  		font-size: 15px;
			}	
			#foot-nav{
				display: none;
			}
			.footer div p{
				display: block;
				text-decoration: none;
				color:black;
				font-size: 15px;
				margin:20px 30px;
			}
			.footer{
			/*background-color: gray;*/
				height: 100px;
				text-align: center;
				margin: -50px 0;
			}
			/*home*/
			#home-content{
				height:1000px;
			}
			
			.info {
				width:auto;
				float: left;
				margin: 70px 0px 100px 0px;
			}	
			.info p {
				color:black;
				font-size: 18px;
				margin: 0px 0px 40px 50px;
			}
			.img {
				width:auto;
				text-align: center;
				float: center;
			}
			.img img{
				vertical-align: center;	
				margin: 30px auto 0px auto;	
			}
			#news-content{
				height:1000px;
				width: auto ;
				float:center;
				
				
			}
			.news{
				padding: auto ;
				margin: 0 auto;
				float:center;

			}
					
		
			.news_chef {
				width:auto;
				height: 500px;
				margin: 0 20px;
				padding: 0 ;
				float:center;

				border-right: none;
				border-left:none;
			}
			.news_cuisine {
				width:auto;
				height: 500px;
				margin: 0 20px;
				padding: 0;
				float:center;

				border-right: none;
				border-left:none;
			}
			.newschef
			{
				width:auto;
				height: 100px;
				float:center;
				margin: 10px auto;
				display: block;
				
			}
			.newschef div{
				width: auto;
				float: left;
				margin-right:auto;
				margin-left:10px;
			}
			.newschef img{
				float: left;
				
				margin-left: 30px;
			}


			.newscuisine
			{
				width:auto;
				height: 100px;
				float:center;
				margin: 10px auto;
				display: block;
				
			}
			.newscuisine div{
				width: auto;
				float: left;

				margin-right:auto;
				margin-left:10px;
			}
			.newscuisine img{
				float: left;
				margin-left: 30px;
			}
			.news_button{
				margin: 20px 0 ;
				display: block;
				float: right;
				padding:1px 10px;
				color:black;
				font-size: 20px;
				background-color: yellow;
				cursor: pointer;
				text-decoration: none;
			}
			
			
		}