		body{	
			width:1200px;
			margin: auto;
			word-break: break-all;
			background: url('../img/background.jpg') repeat center center;
			font-family: Microsoft JhengHei, sans-serif;
		}
		.pc{
			display: default;
		}
		
		
		.content{
			/*background-color:#BDC0BA;*/
			/*display: block;*/
			
		}

		#nav{
    		/*background-color: #FFFFFB;*/
			height: 105px;
			display: block;
		}

		.nav-list li a {
    		display: block;
    		width: 175px;
    		text-align: center;
    		/*background-color: #FFFFFB;*/
    		text-decoration: none;
    		color:black;
    		font-size: 20px;
		}		
		.nav-list li a:hover{
			opacity: 0.4;
		}

		.list{
			padding:35px 0px;
		/*	 background-color: #FFFFFB;*/
    		text-decoration: none;
    		/*border-right: solid 2px black;*/
		}
		.nav-list li {
		    display: inline;
		    float:left;
		}
		.nav-list ul {
		    list-style-type: none;
		    margin: 0;
		    padding: 0;
		}
		.foot{
			width: 230px;
		}
		#foot-nav{
				display: default;
			}

		.home{
				width:350px;
		/*		background-color: #FFFFFB;*/
    		text-decoration: none;
    		color:black;
    		padding-left: 50px ;
    		margin: 0 auto;
    		/*border-right: solid 2px black;*/

		}
	

		.footer{
			/*background-color: gray;*/
			height: 100px;
			text-align: center;

		}
		.footer div p{
			display: inline;
			color:black;
			font-size: 10px;
			margin:20px 30px;
		}

		.footer-info{
			/*background-color: gray;*/

			padding-top: 40px;
			padding-bottom: 50px;
		}







		/* home*/

		
		#home-content{
			height:600px;
		}
		#news-content{
			height:400px;
		}

		.img {
			width:500px;
			text-align: center;
			float: left;
		}
		.img img{
			vertical-align: center;	
			margin: 70px 0px 0px 50px;	
		}
		.info {
			width:600px;
			float: left;
			margin: 70px -100px 100px 120px;
		}
		

		.info p span{
			color:black

		}
		.info p {
			color:black;
			font-size: 20px;
			margin: 40px 0px 40px 50px;
		}

		

		.button{
			margin-top: 20px;
			margin-left: 50px;
			display: block;
			float:left;
			padding:5px 20px;
			color:black;
			font-size: 30px;
			background-color: yellow;
			/*border: solid 2px gray; */
			text-decoration: none;
		}
		.button:hover{
			color:yellow;
			background-color: black;
		}
		.news
		{
			
			margin: 0 70px 80px 70px;
			float:left;
		}
		.news a{
			color: black;
		}
		.news_button{
			margin: 0 0 0 50px ;
			display: block;
			float: left;
			padding:1px 10px;
			color:black;
			font-size: 20px;
			background-color: yellow;
			cursor: pointer;
			text-decoration: none;
		}
		.news_button:hover{
			color:yellow;
			background-color:black ;
		}
		.news_chef {
			width:500px;
			margin: 0px 10px;
			float:left;
			border-right: solid 2px black;
			border-left: solid 2px black;
		}
		.news_cuisine {
			width:500px;
			margin: 0px 10px;
			float:left;
			border-right: solid 2px black;
			border-left: solid 2px black;
		}
		.newschef
		{
			width:400px;
			height: 100px;
			float:center;
			margin: 10px auto;
			display: block;
			
		}
		.newschef div{
			float:right;
			margin-right: 150px;
		}
		.newscuisine
		{
			width:400px;
			height: 100px;
			float:center;
			margin: 10px auto;
			display: block;
			
		}
		.newscuisine div{
			float:right;
			margin-right: 150px;
		}
		.chef_name
		{
			font-size: 20px;

			
		}
		.chef_info
		{
			font-size: 15px;
			
		}
		.cuisine_name
		{
			font-size: 20px;

			
		}
		.cuisine_info
		{
			font-size: 15px;
			
		}


		/*home-end*/








		/*info*/
		
		#about-content{
			height:1300px;
		}
		
		.aboutus{
			float: center;
			width: 900px;
			height: 800px;
			margin: 0 auto;	

			/*background: url('../img/context.png') no-repeat center center;*/
			

		}
		.about-title{
			display: block;
			background-color: white;
			
			padding: 5px;
			width: 120px;

		}
		.text-context{
			
			
			margin :0 ;
			width: 900px;
		}

		.text-context>div{
			margin: 20px;

		}
		#title{
			margin: 0 120px;
			font-size: 20px;
		}
		.why{
			width:900px;
			display: inline;
			float: left;
			margin-left: 0px;
			font-size: 15px;
			line-height: 40px;　　　          　/* 設定文字行距 */
   			 letter-spacing: 3px;
		}
		.why {
			width:300px;
		}
		.context{
			width: 350px;
		}
		.mainlogo{
			float: right;
			margin-top: 100px;
			margin-right: 50px;
		}
		.what{
			padding-right: 500px;
			font-size: 15px;
			float: right;
			line-height: 40px;　　　          　/* 設定文字行距 */
   			 letter-spacing: 3px;

		}
		.h2{
			margin-bottom: 30px;
		}



		.member{
			width:200px;
			height:300px;
			border: solid 3px orange;
			text-align: center;
			background-color: #255359;
			padding: 20px 5px 0px 5px;
			margin: 20px 12px;
			float: left;
			color: orange;
		}
		.member:hover{
			border: solid 3px #255359;
			background-color: orange;
			color:#255359;
			
		}


		.member>img{
			margin: 3px 25px;
			padding-bottom: 15px;
		}
		.member h3{
			margin: 10px auto;
		}


		/*info-end*/

		/*cataloge*/
		#catalog-content{
			height:1200px;
		}
		.aside{
			float: left;
			width:180px;
			height: 600px;
			padding-left: 100px;
			padding-top: 50px;
			margin-right: 20px;

		/*	background: url('../img/aside.png') no-repeat center center;*/

		}
		.aside h3{
			float: right;
			padding-top: 5px;
			padding-left: 0px;
			margin: 0px 30px 0px 0px;
		}
		.aside h3, .aside img{
		
		}
		.aside hr{
			padding-right: 20px;
		}
		.aside div{
			margin: 30px 10px 30px 20px;

			cursor: pointer;
		}

		.cuisinelists{
			display: inline-block;
			height: 50px;
		}	
		.cuisinelists h1{
			width: 150px;
			margin: 0;
		}	
		.cuisine-kind{
			display: block;
    		width: 150px;
    		margin: 0 10px;
    		text-align: center;
    		text-decoration: none;
    		color:black;
    		font-size: 30px;
    		padding: 10px 0;

    		display: inline;
		    float:left;
		}
		.cuisine-list-li   {
    		display: block;
    		width: 90px;
    		margin: 0 5px;
    		text-align: center;
    		background-color: #FFFFFF;
    		cursor: pointer;
    		text-decoration: none;
    		color:black;
    		font-size: 20px;
    		padding: 10px 0;
    		border: solid 2px black;
    		display: inline;
		    float:left;

		}		
		.cuisine-list-li:hover{
			
			border: solid 2px #FFFFFF;
			background-color: #000000;
			color:#FFFFFF;
		}	

		
		
		.cuisinelists ul {
		    list-style-type: none;
		    margin: 0;
		    padding: 0;
		    float: left;

		}

		.cataloge{
			float: left;
			width: 800px;
			height: 1000px;

			/*background: url('../img/cataloge-context.png') no-repeat center center;*/
			

		}
		.cataloge-context{
			
			
			margin :20px 0px;

		}
		.cataloge-context .cuisine {
			border: solid 3px orange;
			display: block;
			cursor: pointer;
		}
		.cataloge-context .cuisine ,.cuisine a{
			/*background: url('../img/cataloge-context.png') no-repeat center center;*/
			height: 180px;
			
			
			background-color: #255359;
			
			
			color: white;
			margin: 10px 0;

		}
		.cataloge-context .cuisine:hover,.cuisine a:hover {
			/*background: url('../img/cataloge-context.png') no-repeat center center;*/
			
			border: solid 3px #255359;
			
			background-color: orange;
			
			
			color: #255359;
			
		}
		
		.cuisine{
			display: block;
			/*cursor: pointer;*/
		}
		.cuisine div{
			padding-top: 20px;
			padding-left: 30px;
			
		}

		.cuisine div h1,.cuisine div img,.cuisine div table{
			float: left;
			/*display: inline;*/
			vertical-align: center;
			
		}
		.cuisine h1{
			margin: 8px 10px;
		}
		
		.cuisine div table{
			font-size: 20px;
			margin-left:10px; 
		}
		.select {
			margin-top: -50px;
		}
		.selects {
			font-size: 20px;
			margin-left: -40px;
			margin-top: 20px;
			cursor: pointer;

		}
		div.page{
			width: 800px;
			text-align: center;
		}
		.page ul{
		    list-style-type: none;
			text-align: center;
			margin: 20px auto;
			float: none;
		}
		.page ul li{
			display: inline;
			margin-left: 10px;
			font-size: 20px;

		}
		/*cataloge-end*/

		/*contect*/

		.contect{
			margin: 0px auto;
			width: 1000px;
			height: 600px;
			font-size: 20px;
			/*background: url('../img/context.png') no-repeat center center;*/
			
		}
		.contect-context>div{
			
			
			/*padding:100px 100px;*/

		}
		.contectus-title{
			display: block;
			background-color: white;
			
			padding: 5px;
			width: 120px;

		}
		.contect-list{
			margin: 0 auto;
			float: center;
		}
		.contect-context .button{
			margin: 0px auto;
			font-size: 20px;
			float: none;
			text-align: center;
			cursor: pointer;
		}
		
		.country-list{
			display: inline-block;
			list-style-type: none;
		    margin: 0;
		    padding: 0;
		    float: center;
		}
		.contect-list>li{
			margin: 30px 0;
		}
		.contect-list h4{
			margin-left: 20px;
		}
		.contect-list p{
			font-size: 15px;
			margin-left: 20px;
		}
		.country-list-li   {
    		display: block;
    		width: 140px;
    		margin: 0 5px;
    		text-align: center;
    		background-color: #255359;
    		cursor: pointer;
    		text-decoration: none;
    		color:orange;
    		font-size: 20px;
    		padding: 10px 0;
    		border:  solid 3px orange;
    		display: inline;
		    float:left;

		}	
		
		.country-list-li:hover{
			
			border: solid 3px #255359;
			background-color: orange;
			color:#255359;
		}		
		.Greetword{
			margin: 50px auto;
			color:orange;
			text-align: center;
		}
		/*contect-ned*/


		/*chef*/
		.chef-content{
			height: 1100px; 
			padding:0 100px;
		}

		.chef{
			width:280px;
			height:400px;
			border: solid 3px orange;
			text-align: center;
			background-color: #255359;
			padding: 20px 10px 0px 10px;
			margin: 20px 12px;
			float: left;
			color: orange;
		}
		.chef:hover{
			border: solid 3px #255359;
			background-color: orange;
			color:#255359;
			
		}


		.chef>img{
			margin: 3px 25px;
			padding-bottom: 15px;
		}
		.chef h3{
			margin: 10px auto;
		}
		.mobile{
			display: none;
		}
		/*chef-end*/


		@media(max-width:700px) {
			.pc{
				display: none;
			}
			.mobile{
				display: initial;
			}
			body{	
				width:100%;
				margin: 0;
				
				background: url('../img/background.jpg') repeat center center;
				font-family: Microsoft JhengHei, sans-serif;
			}
			.home{
				width:100%;
		/*		background-color: #FFFFFB;*/
	    		text-decoration: none;
	    		color:black;
	    		padding-left: 0px ;
	    		margin: 0 0 0 -10px;
	    		/*border-right: solid 2px black;*/

			}
			#nav{


				float: center;
				margin: 0 auto;

			}
			.list{
				padding: 10px 0px;
			/*	 background-color: #FFFFFB;*/
	    		text-decoration: none;
	    		border-right: none;
	    		border-left: none;
	    		
	    		float: center;
			}
			.nav-list{
				margin-left: -5px;
			}
			.list {
				width: 25%;
			    display: inline;
			    float:left;
			    font-size: 10px;
			}
			.nav-list li a {
	    		display: block;
	    		width: 100%;
	    		text-align: center;
	    		/*background-color: #FFFFFB;*/
	    		text-decoration: none;
	    		

	    		color:black;
	  	  		font-size: 10px;
			}	
			#foot-nav{
				display: none;
			}
			.footer div p{
				display: block;
				text-decoration: none;
				color:black;
				font-size: 15px;
				margin:20px 30px;
			}
			.footer{
			/*background-color: gray;*/
				height: 100px;
				text-align: center;
				margin: -50px 0;
			}

			.contect{
				margin: 0px auto;
				width: auto;
				height: 600px;
				font-size: 20px;
				/*background: url('../img/context.png') no-repeat center center;*/
				
			}

			/*home*/
			#home-content{
				height:900px;
			}
			
			.info {
				width:auto;
				float: left;
				margin: 70px 0px 100px 0px;
			}	
			.info p {
				color:black;
				font-size: 18px;
				margin: 0px 0px 40px 50px;
			}
			.img {
				width:auto;
				text-align: center;
				float: center;
			}
			.img img{
				vertical-align: center;	
				margin: 30px auto 0px auto;	
			}
			#news-content{
				height:1000px;
				width: auto ;
				float:center;
				
				
			}
			.news{
				padding: auto ;
				margin: 0 auto;
				float:center;

			}
					
		
			.news_chef {
				width:auto;
				height: 500px;
				margin: 0 20px;
				padding: 0 ;
				float:center;

				border-right: none;
				border-left:none;
			}
			.news_cuisine {
				width:auto;
				height: 500px;
				margin: 0 20px;
				padding: 0;
				float:center;

				border-right: none;
				border-left:none;
			}
			.newschef
			{
				width:auto;
				height: 100px;
				float:center;
				margin: 10px auto;
				display: block;
				
			}
			.newschef div{
				width: auto;
				float: left;
				margin-right:auto;
				margin-left:10px;
			}
			.newschef img{
				float: left;
				
				margin-left: 30px;
			}


			.newscuisine
			{
				width:auto;
				height: 100px;
				float:center;
				margin: 10px auto;
				display: block;
				
			}
			.newscuisine div{
				width: auto;
				float: left;

				margin-right:auto;
				margin-left:10px;
			}
			.newscuisine img{
				float: left;
				margin-left: 30px;
			}
			.news_button{
				margin: 20px 50px ;
				display: block;
				float: right;
				padding:1px 10px;
				color:black;
				font-size: 20px;
				background-color: yellow;
				cursor: pointer;
				text-decoration: none;
			}
			
			/*home-end*/

			/*info*/

			#about-content{
				height:2350px;
			}
			.aboutus{
				width: auto;
				margin: 0 auto;
			}
			.what{
				float:left;
				padding: 0;
			}
			.members{
				width: auto;
				margin: 0 auto;
			}
			.members .member{
				 
				width: 80%;
				margin: 10px 10%;
			}
			.text-context{
				
				
				margin :0 ;
				width: auto;
			}
			/*info-end*/


			/*catalogy*/

			#catalog-content{
				height:1200px;
			}

			select{
			    color: black;
			    height: 60px;
			    font-size: 80%;
			    cursor: pointer;
			    display: block;
			    padding: 12px 50px 12px 12px;
			    border: 1px solid #B3B3B3;
			    border-radius: 4px;
			    -webkit-appearance: none;
			    -moz-appearance: none;
			    appearance: none;
			    text-indent: .01px;
			    text-overflow: "";
			   
			}
			.cuisinelists{
				margin: 100px;
				height: 100px;
				padding: 100px;
			}
			.cuisinelists ul{
				margin: 0 auto;
				padding: 0px 10px 50px 10px;
				float: center;
			}

			.cuisine-kind{

			}
			.cataloge{
				width: 100%;
			}
			#context{
				width:auto;
				margin: 0 auto;
			}
			.cuisine div table {
				margin-left: 0px;
				font-size: 20px;
				 margin: 0 10px;
			}
			.cuisine div h1 {
			  margin: 25px 10px;
			}

				/*catalog-end*/

				/*CHEF*/

				.chef-content{
					height: 2750px; 
					padding:0 ;
					margin: 0 auto;
					float: center;
				}
				.chef {
				  width: 280px;
				  height: 400px;
				  border: solid 3px orange;
				  text-align: center;
				  background-color: #255359;
				  padding: 20px 10px 0px 10px;
				  margin: 20px auto;
				  float: center;
				  color: orange;
				}
				/*cher-end*/
				/*order*/
				.content-mobile{
					margin: 0 15px;
				}
		}
